.canvas_container {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
  display: flex;
  justify-content: center;
  width: 100%;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 80vw;
  height: 80vh;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;
}
