/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    width: 100%;
}

.welcome {
    font-size: 1.5rem;
    height: 72.5vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
}

.page_container {
    min-height: 100vh;
    max-width: 1000px;
    /* background-color: rgb(243, 242, 226) ; */
}

.container_center_main {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rosybrown;
}

.user_form {
    max-width: 300px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.75rem;
}

.social {
    position: fixed;
    bottom: 0;
    background-color:white;
    width: 100%;
    height: 6rem;
    display: grid;
    place-items: center;
}
.iconlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
}
.s_icon {
    width: 4rem;
    height: 2.85rem;
    padding: 0 0.5rem;
}
.made_by {
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: 0.75rem;
    margin-bottom: 0.5rem;
}

.profile_container {
    /* background-color: violet; */
    display: grid;
    grid-template-columns: 1fr 7rem 1fr ;
    height: 80vh;
    place-items: center;
  
}

.ava_container {

    display: grid;
}

.avatar {
    width: 30vh;
}

.play {
    display: grid;
    place-items: center;
    position: absolute;
    grid-template-rows: 2fr 1.25fr 2fr;
    height: 100%;
}

.play_btn{
    width: 5rem
}

.play_btn:hover {
    zoom: 105%;
}

.d_icon {
    width: 5rem;
}

.deck {
    display: grid;
    place-items: end;
    max-width: 950px;
    padding-right: 2.5rem;

}

.deck:hover {
    zoom: 101%;
}

.winrate {
    text-align: center;
}

.pokeball {
    width: 3rem;
    padding-right: 0.25rem;
}
.welcome span {
    font-size: inherit;
}

.gymleader_ava {
    width: 100px;
    height: 300px;
    padding-top: 2.5rem ;

}
.gymlead_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center_gym {
    height: 75vh;
    border-radius: 15px;
    display: grid;
    place-items: center;
    box-shadow: -1px 4px 8px 0 rgba(0, 255, 13, 0.973), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 2px rgb(161, 216, 213) double;
}
.gymlead_page {
    height:80vh;
}


@media only screen and (max-width: 600px) {
    .social {
        height: 4.75rem;
        transition: 0.2 ease-in;
    }
    .iconlist {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.55rem;
    }
    
    .s_icon {
        width: 3.5rem;
        height: 2.5rem;
        padding: 0 0.5rem;
    }
    .made_by {
        font-size: 0.55rem;
        margin-top: 0.25rem;
        margin-bottom: 0.4rem;
    }
    .avatar {
        width: 25vh;
    }
    
}

